@import 'main';
@import 'header';
@import 'sectionPortfolio';
@import 'sectionAbout';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    background: none;
    border: 1px solid;
    padding: 10px 25px;
}

.app{
    width: 100%;
    margin: 0;
    padding: 0;
}