.header {
    width: 100%;
    max-height: 136px;

    &__content {
        width: 90%;
        height: 136px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid;

        &--item {
            display: flex;

            h5 {
                font-size: 16px;
                font-family: Proxima;
                font-weight: 600;
                line-height: calc(20 / 16 * 100%);
                color: #333;
            }

            p {
                line-height: calc(20 / 16 * 100%);
                font-size: 16px;
                font-family: Proxima;
                font-weight: 400;
                margin-left: 5px;
                color: #555;
            }

            .btn {
                width: 192px;
                height: 46px;
                line-height: calc(26 / 16 * 100%);
                font-size: 16px;
                font-family: Proxima;
                font-weight: 600;
            }
        }
    }
}

.menu {
    width: 100%;
    padding: 20px 0px;
    &_content {
        width: 90%;
        margin: 0 auto;

        &-list {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .dots {
                width: 5px;
                height: 5px;
                background: #333;
                border-radius: 50%;
            }

            &--item {
                * {
                    font-family: Proxima;
                    font-weight: 400;
                    line-height: calc(32 / 16 * 100%);
                    font-size: 16px;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: black;
                }
            }
        }
    }
}