.header {
  width: 100%;
  max-height: 136px;
}
.header__content {
  width: 90%;
  height: 136px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}
.header__content--item {
  display: flex;
}
.header__content--item h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  font-family: Proxima;
  color: #333;
}
.header__content--item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  font-family: Proxima;
  margin-left: 5px;
  color: #555;
}
.header__content--item .btn {
  width: 192px;
  height: 46px;
  font-weight: 600;
  font-size: 16px;
  line-height: 162.5%;
  font-family: Proxima;
}

.menu {
  width: 100%;
  padding: 20px 0px;
}
.menu_content {
  width: 90%;
  margin: 0 auto;
}
.menu_content-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_content-list .dots {
  width: 5px;
  height: 5px;
  background: #333;
  border-radius: 50%;
}
.menu_content-list--item * {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  font-family: Proxima;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
}

.section-portfolio {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.section-portfolio__content {
  display: flex;
}
.section-portfolio__content .content__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}
.section-portfolio__content img {
  width: 100%;
}
.section-portfolio__content--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-portfolio__content--text h2 {
  font-weight: 400;
  font-size: 60px;
  line-height: 121.6666666667%;
  font-family: Ashley;
  letter-spacing: 0.02em;
  padding: 2rem 2rem 0;
}
.section-portfolio__content--text p {
  font-weight: 400;
  font-size: 28px;
  line-height: 114.2857142857%;
  font-family: Proxima;
  padding: 1rem 2rem 4rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.section-about {
  width: 100%;
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/Rectangle 33.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 900px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-about__container {
  width: 90%;
  height: 900px;
  margin: 0 auto;
}
.section-about__content {
  display: flex;
  flex-direction: column;
}
.section-about__content .header-text {
  padding: 2rem 0rem;
}
.section-about__content .header-text h1 {
  font-weight: 300;
  font-size: 80px;
  line-height: 121.25%;
  font-family: Proxima;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.section-about__content .body-text {
  display: flex;
  align-items: center;
  padding: 2rem 0rem;
}
.section-about__content .body-text .text {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  color: rgba(255, 255, 255, 0.9);
}
.section-about__content .body-text .text_form {
  font-weight: 300;
  font-size: 32px;
  line-height: 175%;
  font-family: Proxima;
  letter-spacing: 0.02em;
}
.section-about__content .body-text .text__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 3rem 0 0 0;
}
.section-about__content .body-text .text__footer--content {
  font-weight: 300;
  font-size: 28px;
  line-height: 200%;
  font-family: Proxima;
  color: #c5c5c5;
  font-style: italic;
  letter-spacing: 0.02em;
}
.section-about__items {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  bottom: 20px;
  margin-top: 185px;
  padding: 0 0rem 2rem;
}
.section-about__items .items__svg {
  display: flex;
  cursor: pointer;
}
.section-about__items .items__svg .active {
  width: 100px;
  height: 0;
  border: 1px solid #fff;
}
.section-about__items .items__svg div {
  margin: 0 1rem;
  width: 50px;
  height: 0;
  border: 1px solid #888;
}

.section-works {
  font-family: Proxima;
  padding: 7rem 8rem;
  width: 100%;
  height: 100%;
}
.section-works__content--text h1 {
  font-size: 80px;
  font-weight: 300;
  line-height: 97px;
}
.section-works__content--text P {
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  margin: 1rem 0 0;
}
.section-works__content--items,
.section-works__content .work__items {
  display: flex;
  flex-direction: column;
}
.section-works__content--items--content,
.section-works__content .work__items--content {
  display: flex;
  flex-direction: row;
}
.section-works__content--items--content p,
.section-works__content .work__items--content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 42px;
  color: #555;
  margin: 2rem 1.5rem 2rem 0;
  padding: 1px 0;
}
.section-works__content--items--content .active,
.section-works__content .work__items--content .active {
  color: #333;
  border-bottom: 2px solid #333;
}
.section-works__content--items__works,
.section-works__content--items .works,
.section-works__content .work__items__works,
.section-works__content .work__items .works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-works__content--items__works__content,
.section-works__content--items .works__content,
.section-works__content .work__items__works__content,
.section-works__content .work__items .works__content {
  width: calc(50% - 20px);
}
.section-works__content--items__works__content img,
.section-works__content--items .works__content img,
.section-works__content .work__items__works__content img,
.section-works__content .work__items .works__content img {
  width: 100%;
}
.section-works__content--items__works__content .content h4,
.section-works__content--items .works__content .content h4,
.section-works__content .work__items__works__content .content h4,
.section-works__content .work__items .works__content .content h4 {
  font-size: 28px;
  font-weight: 300;
  line-height: 42px;
  color: #333;
  margin: 1rem 0;
}
.section-works__content--items__works__content .content p,
.section-works__content--items .works__content .content p,
.section-works__content .work__items__works__content .content p,
.section-works__content .work__items .works__content .content p {
  font-size: 28px;
  font-weight: 300;
  line-height: 50px;
  color: #888;
  margin: 1rem 0;
}
.section-works__content--items__works__content .content .btn-view,
.section-works__content--items .works__content .content .btn-view,
.section-works__content .work__items__works__content .content .btn-view,
.section-works__content .work__items .works__content .content .btn-view {
  font-family: Proxima;
  font-size: 20px;
  font-weight: 400;
  line-height: 42px;
  padding: 1px 0;
  border: none;
  background: none;
  border-bottom: 2px solid #333;
  margin: 0 0 5rem;
}

.view-projects {
  width: 100%;
  background-color: #897163;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 4rem 0;
  margin: 0 0 5rem;
  position: relative;
  height: 170px;
}
.view-projects .wrapper {
  width: 400%;
  position: absolute;
  animation-name: floatLeft;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.view-projects .wrapper__content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.view-projects .wrapper__content--item {
  display: flex;
  align-items: center;
}
.view-projects .wrapper__content--item h1 {
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 2rem;
}

@keyframes floatLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1500px);
  }
}
.section-create {
  width: 100%;
  height: 100%;
  padding-bottom: 53px;
}
.section-create__content {
  width: 100%;
  max-height: 956px;
  background: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url("../assets/CreateBg.jpg");
  background-size: cover;
}
.section-create__container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0px;
}
.section-create__container .content-header_btn {
  display: flex;
  justify-content: flex-end;
}
.section-create__container .content-header_btn .btn_radius {
  background: none;
  padding: 10px 12px 7px 15px;
  border-radius: 50%;
  border: 1px #fff solid;
}
.section-create__container .content-title {
  margin-top: 200px;
}
.section-create__container .content-title h3,
.section-create__container .content-title p {
  font-weight: 300;
  font-size: 80px;
  line-height: 121.8%;
  font-family: Proxima;
  color: #fff;
  letter-spacing: 0.02em;
}
.section-create__container .content_footer {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-create__container .content_footer .footer__btn {
  padding: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  position: relative;
  bottom: -43px;
}
.section-create__container .content_footer .footer__btn button {
  width: 286px;
  height: 286px;
  border-radius: 50%;
  background: #333333;
  border: none;
  letter-spacing: 0.1em;
  font-weight: 300;
  font-size: 22px;
  line-height: 121.8181818182%;
  font-family: Proxima;
  color: white;
}

.section-comfort {
  width: 100%;
  max-height: 1100px;
  margin-top: 100px;
}
.section-comfort__conteiner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.section-comfort__content {
  padding-bottom: 100px;
}
.section-comfort__content .content-title {
  margin-bottom: 80px;
}
.section-comfort__content .content-title p {
  font-weight: 300;
  font-size: 60px;
  line-height: 121.8%;
  font-family: Proxima;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.section-comfort__content .content-section {
  display: flex;
  justify-content: space-between;
}
.section-comfort__content .content-section_blog45 img {
  width: 500px;
  height: 500px;
}
.section-comfort__content .content-section_blog55 {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-comfort__content .content-section_blog55 img {
  width: 286px;
  height: 326px;
  margin-bottom: 142px;
}
.section-comfort__content .content-section_blog55 p {
  font-weight: 300;
  font-size: 50px;
  line-height: 146.16%;
  font-family: Proxima;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.section-research {
  width: 100%;
  height: auto;
  position: relative;
}
.section-research__content {
  display: grid;
  grid-template-columns: 60% 40%;
  overflow: hidden;
}
.section-research__content--text {
  background-color: #333;
  color: #fff;
  font-family: Proxima;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
  padding: 4rem 3rem;
  margin: 0 0 4px 0;
}
.section-research__content--text p {
  font-weight: 300;
  font-size: 28px;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0 6rem 2rem 0;
}
.section-research__content--text h1 {
  font-size: 54px;
  line-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0.5rem;
}
.section-research .svg {
  position: absolute;
  top: 90%;
  left: 90%;
}

.section-interior {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 6rem 10rem;
  font-family: Proxima;
}
.section-interior__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.section-interior__content--text h1 {
  font-size: 80px;
  font-weight: 300;
  line-height: 97px;
  color: #333;
  margin: 0 0 2rem;
  text-transform: uppercase;
}
.section-interior__content--text p {
  font-size: 32px;
  font-weight: 300;
  line-height: 50px;
  margin: 0 0 4rem;
  color: #333;
}
.section-interior__content--svg {
  box-sizing: content-box;
}
.section-interior__content--svg svg {
  height: 180px;
}
.section-interior__img {
  width: 100%;
}
.section-interior__img img {
  width: 100%;
}
.section-interior__img p {
  font-size: 32px;
  line-height: 50px;
  font-weight: 300;
  color: #333;
  margin: 3rem 0;
}

.section-best {
  padding: 0 10rem 50px;
  width: 100%;
  font-family: Proxima;
  color: #333;
}
.section-best__content {
  width: 100%;
}
.section-best__content h1 {
  font-size: 80px;
  font-weight: 300;
  line-height: 97px;
  margin: 0 0 5rem;
}
.section-best__content--img {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-best__content--img #customImg {
  opacity: 0.8;
  margin-right: -10rem;
}
.section-best__content--img .img p {
  font-size: 60px;
  font-weight: 300;
  line-height: 73px;
  padding: 0 4rem 0 0;
}
.section-best__content svg {
  height: 100px;
  margin-left: 50%;
}

.section-definition {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Proxima;
  color: #333;
}
.section-definition__bg {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.section-definition__bg .bg .img {
  position: absolute;
  margin-top: -45rem;
  margin-left: 70rem;
  z-index: 500;
}
.section-definition__bg .bg .img img {
  opacity: 0.8;
}
.section-definition__content {
  position: absolute;
  z-index: 1000;
  padding: 0 8rem;
  width: 100%;
  height: auto;
}
.section-definition__content--text {
  box-sizing: content-box;
}
.section-definition__content--text h1 {
  font-size: 80px;
  font-weight: 300;
  line-height: 97px;
  text-transform: uppercase;
}
.section-definition__content--card {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, 5rem);
  justify-content: space-between;
}
.section-definition__content--card .card:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.section-definition__content--card .card:nth-child(2) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.section-definition__content--card .card:nth-child(3) {
  grid-column: 3/-1;
  grid-row: 3/-1;
}
.section-definition__content--card .card {
  width: 487px;
  height: 900px;
  background: #fff;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
  padding: 2rem 2rem 3rem;
  margin: 3rem 0 0;
  display: flex;
  flex-direction: column;
}
.section-definition__content--card .card__header {
  margin-bottom: 1rem;
}
.section-definition__content--card .card__header h5 {
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  color: #897163;
  margin: 0 0 2px;
  border-bottom: 1px solid #897163;
  display: inline;
}
.section-definition__content--card .card__body--list {
  padding: 0 2rem;
}
.section-definition__content--card .card__body--list li {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  color: #222;
  font-style: normal;
  margin: 2rem 0;
}
.section-definition__content--card .card__footer {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.section-definition__content--card .card__footer p {
  display: block;
  color: #333;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 100%;
  text-align: justify;
  margin: 2rem 0;
}
.section-definition__content--card .card__footer p span {
  font-family: Ashley;
  color: #897163;
  font-size: 100px;
  font-weight: 300;
  line-height: 88px;
  margin: 2rem 1rem 0;
}
.section-definition__content--card .card__footer--btns {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap: 2rem;
}
.section-definition__content--card .card__footer--btns .btn {
  width: 100%;
  font-size: 18px;
  line-height: 56px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 2rem;
}
.section-definition__content--card .card__footer--btns .btn svg {
  margin: 0 1rem;
}
.section-definition__content--card .card__footer--btns .btn-secondary {
  width: 100%;
  font-size: 18px;
  line-height: 56px;
  font-weight: 400;
  text-transform: uppercase;
}
.section-definition .section-img {
  margin: 5rem 15rem 0;
}

.section-cards {
  width: 100%;
  max-height: 1610px;
  background: #897163;
  padding: 100px 0px;
}
.section-cards__container {
  width: 90%;
  margin: 0 auto;
}
.section-cards .content_card {
  overflow: hidden;
  display: flex;
}
.section-cards .content_card:not(:last-child) {
  margin-bottom: 100px;
}
.section-cards .content_card img {
  width: 50%;
  height: 400px;
}
.section-cards .content-text {
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-cards .content-text p {
  font-weight: 300;
  font-size: 60px;
  line-height: 121.8%;
  font-family: Proxima;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0px;
}

.section-about-us {
  min-height: 1126px;
  padding-top: 100px;
}
.section-about-us__content {
  width: 100%;
  height: 450px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.312), rgba(255, 255, 255, 0.05)), url(../assets/Rectangle_23.jpg);
  background-size: contain;
}
.section-about-us__content .content {
  padding: 200px 100px 100px;
}
.section-about-us__content .content-box {
  padding: 40px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}
.section-about-us__content .content-box_text .btn_view {
  font-family: Proxima;
  font-size: 20px;
  font-weight: 400;
  line-height: 42px;
  padding: 1px 0;
  border: none;
  background: none;
  border-bottom: 2px solid #333;
  margin: 3rem 0;
}
.section-about-us__content .content-box_text h2 {
  font-weight: 300;
  font-size: 80px;
  line-height: 121.8%;
  font-family: Proxima;
  margin-bottom: 30px;
}
.section-about-us__content .content-box_text .title {
  font-weight: 400;
  font-size: 28px;
  line-height: 121.7857142857%;
  font-family: Proxima;
  letter-spacing: 0.02em;
}
.section-about-us__content .content-box_text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  font-family: Proxima;
}
.section-about-us__content .content-box_text p:not(:last-child) {
  margin-bottom: 30px;
}
.section-about-us__conteiner {
  width: 90%;
  margin: 0 auto;
}

.section-interer__conteiner {
  width: 90%;
  margin: 0 auto;
}
.section-interer .content-header p {
  letter-spacing: 0.02em;
}
.section-interer .content-header p:first-child {
  font-weight: 300;
  font-size: 80px;
  line-height: 121.8%;
  font-family: Proxima;
  text-transform: uppercase;
}
.section-interer .content-header p:last-child {
  font-weight: 400;
  font-size: 32px;
  line-height: 156.25%;
  font-family: Proxima;
  margin: 20px 0px 50px;
}
.section-interer .content .mb {
  margin-bottom: 50px;
}
.section-interer .content-box {
  display: flex;
  justify-content: center;
  position: relative;
}
.section-interer .content-box:nth-child(1) {
  background: #000;
}
.section-interer .content-box img {
  width: 100%;
}
.section-interer .content-box__play {
  width: 372px;
  height: 372px;
  position: absolute;
  top: 30%;
  border-radius: 50%;
  border: 2px solid rgba(51, 51, 51, 0.8);
  padding: 43px;
}
.section-interer .content-box__play button {
  width: 286px;
  height: 286px;
  background: #897163;
  border: none;
  border-radius: 50%;
}
.section-interer .content-footer {
  width: 90%;
  margin: 36px 0px 50px;
  display: flex;
  justify-content: space-between;
}
.section-interer .content-footer p {
  font-weight: 400;
  font-size: 32px;
  line-height: 156.25%;
  font-family: Proxima;
  letter-spacing: 0.02em;
}

.section-design {
  width: 100%;
  max-height: 1914px;
  background: #897163;
  padding-top: 100px;
  padding-bottom: 60px;
}
.section-design .content-header {
  width: 90%;
  margin: 0 auto 80px;
}
.section-design .content-header p {
  color: #FFF;
  letter-spacing: 0.02em;
}
.section-design .content-header p:first-child {
  font-weight: 300;
  font-size: 80px;
  line-height: 121.8%;
  font-family: Proxima;
  text-transform: uppercase;
}
.section-design .content-header p:last-child {
  font-weight: 400;
  font-size: 32px;
  line-height: 156.25%;
  font-family: Proxima;
  margin: 20px 0px 50px;
}
.section-design .content .left {
  justify-content: flex-start;
  margin-right: auto;
  margin-left: 0;
}
.section-design .content .left button {
  right: -5%;
}
.section-design .content-box {
  width: 90%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
}
.section-design .content-box:not(:last-child) {
  margin-bottom: 80px;
}
.section-design .content-box .btn {
  left: -5%;
}
.section-design .content-box button {
  width: 680px;
  height: 140px;
  position: absolute;
  z-index: 2;
  background: #333333;
  opacity: 0.8;
  border: none;
  font-weight: 400;
  font-size: 60px;
  line-height: 133.3333333333%;
  font-family: Proxima;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #F5F5F5;
}
.section-design .content-box button:hover {
  background: linear-gradient(0deg, #646060, #646060), linear-gradient(0deg, #FCFCFC, #FCFCFC);
  border: 1px solid #FCFCFC;
}
.section-design .content-box img {
  width: 100%;
  max-width: 1374px;
}
.section-design .content-box .arrow {
  position: absolute;
  margin-top: 356px;
  left: -5%;
}

@font-face {
  font-family: "Proxima";
  src: url(../font/proxima_nova_regular.ttf), url(../font/proxima_nova_light.ttf), url(../font/proxima_nova_bold.otf);
}
@font-face {
  font-family: "Ashley";
  src: url(../font/Ashley_Capitali_Sofia.ttf);
}
@font-face {
  font-family: "Proxima-Italic";
  src: url(../font/proxima_nova_light_italic.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.btn {
  background: none;
  border: 1px solid;
  padding: 10px 25px;
  cursor: pointer;
  color: #333;
  outline: none;
}

.btn-secondary {
  background: #897163;
  border: 1px solid transparent;
  color: #fff;
  padding: 10px 25px;
  cursor: pointer;
  outline: none;
}

.app {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=main.css.map */
