/* Error: expected "{".
 *    ,
 * 68 | >>>>>>> c807ad0fe5f1ed624ae4f86b3c4ddda73a2c6cf9
 *    |                                                 ^
 *    '
 *   sectionWorks.scss 68:49  @import
 *   base.scss 5:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 68 \2502  >>>>>>> c807ad0fe5f1ed624ae4f86b3c4ddda73a2c6cf9\d\a    \2502                                                  ^\a    \2575 \a   sectionWorks.scss 68:49  @import\a   base.scss 5:9            root stylesheet';
}
