.section-portfolio {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Ashley;

    &__content {
        display: flex;

        // padding: 0rem 5rem 5rem;
        .content__container {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            overflow: hidden;

        }

        img {
            width: 100%;
        }

        &--text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                @include font(400, 60, 73, Proxima);
                letter-spacing: 0.02em;
                padding: 2rem 2rem 0;
            }

            p {
                @include font(400, 28, 32, Proxima);
                padding: 1rem 2rem 4rem;
                text-transform: uppercase;
                letter-spacing: 0.02em
            }
        }
    }
}