@mixin font($weiht,
    $size,
    $lineH,
    $family) {
    font-weight: $weiht;
    font-size: $size+px;
    line-height: calc($lineH / $size * 100%);
    font-family: $family;
}

.section-about {
    width: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../assets/Rectangle 33.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 900px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        width: 90%;
        height: 900px;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        flex-direction: column;

        .header-text {
            padding: 2rem 0rem;

            h1 {
                @include font(300, 80, 97, Proxima);
                text-transform: uppercase;
                letter-spacing: 0.02em;
            }
        }

        .body-text {
            display: flex;
            align-items: center;
            padding: 2rem 0rem;

            .text {
                display: flex;
                flex-direction: column;
                padding: 0 2rem;
                color: rgba(255, 255, 255, 0.9);

                &_form {
                    @include font(300, 32, 56, Proxima);
                    letter-spacing: 0.02em;
                }

                &__footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin: 3rem 0 0 0;

                    &--content {
                        @include font(300, 28, 56, Proxima);
                        color: #c5c5c5;
                        font-style: italic;
                        letter-spacing: 0.02em;
                    }
                }
            }
        }
    }

    &__items {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        // flex: 1 0 auto;
        bottom: 20px;
        margin-top: 185px;
        padding: 0 3rem 2rem;

        .items__svg {
            display: flex;
            cursor: pointer;

            .active {
                width: 100px;
                height: 0;
                border: 1px solid #fff;
            }

            div {
                margin: 0 1rem;
                width: 50px;
                height: 0;
                border: 1px solid #888;
            }
        }
    }
}