.view-projects {
  width: 100%;
  background-color: #897163;
  color: #fff;
  font-family: Proxima;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 4rem 0;
  margin: 0 0 5rem;
  position: relative;
  height: 170px;

  .wrapper {
    width: 400%;
    position: absolute;
    animation-name: floatLeft;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    color: #fff;
    // transform: translateX(-1500);

    &__content {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
      &--item {
        display: flex;
        align-items: center;
        h1 {
          font-size: 60px;
          font-weight: 400;
          text-transform: uppercase;
          margin: 0 2rem;
        }
      }
    }
  }
}

@keyframes floatLeft {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-1500px);
    }
}
